*
{
  margin:0;
  padding:0;
}

body
{
  background: #161616;
  color:#f6f6f6;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
}

.Navbar
{
  width:100%;
  display:flex;
  list-style-type: none;
  position:absolute;
  padding:0;
  justify-content: space-around;
  background: #090909  ;
  height:70px;
  align-items: center;
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size:1rem;
  top:0;
  position: fixed;
  z-index : 1;
}

.Navbar > li > a
{
  padding:10px 15px;
  margin:0 20px;
  color:#efefef;
  text-decoration: none;
  border-radius: 30px;
}

.Navbar > li > a:hover
{
  background: #161616  ;
  color:white;
}

section
{
  margin:0 32px;
  padding-top: 170px;
  margin-top: -70px;
}

section > h2
{
  font-size:2.4rem;
  text-align: center;
  margin-bottom: 70px;
  font-weight: 700;
  color:#02dfef;
}

.sectionElements
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:150px;
  justify-content: center;
  align-items: center;
}

.Project
{
  display: flex;
  width:100%;
  align-items: center;
  flex-wrap: wrap;
  padding:0.05px;
}

.Project > h2
{

  font:1.8rem;
  text-align:left;
  color:#02dfef;
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Project > .imagesContainer
{
  justify-content:right;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.Project > .imagesContainer > .imageLabelContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.Project > .imagesContainer > .imageLabelContainer > img
{
  width: 40px;
  margin: 0;
  padding: 0;
}

.Project > .imagesContainer > .imageLabelContainer:hover
{
  transform: scale(1.1);
  position: relative;
  top: -5px;
}

.Project > .imagesContainer > .imageLabelContainer > h4
{
  color:#f6f6f6;
  display: none;
  position: absolute;
  top:40px;
}

.imagesContainer
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.imageLabelContainer
{
  margin:0 15px 20px;
}

.contactContainer
{
  margin:0 65px 20px;
}

.imageLabelContainer > img
{
  width:100px;
  margin:0 0 5px 0;
}

.contactContainer > img
{
  width:75px;
  margin:0 0 5px 0;
}

.imageLabelContainer:hover
{
  position: relative;
  top: -10px;
  color:#02dfef;
  font-weight: 700;
}

.imageLabelContainer:hover >img
{
  transform: scale(1.1);
}

.imageLabelContainer:hover >p
{
  font-weight: 700;
}

.contactContainer:hover
{
  color:#02dfef;
}

.transparent
{
  fill:#090909;
}

.imageLabelContainer > p, .contactContainer > p
{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.sectionElements > *
{
  margin: 0 3% 50px;
  line-height: 1.8rem;
}

.aboutText
{
  flex-grow: 1;
  flex-basis: 0;
  min-width: 280px;
}

.aboutText + p
{
  min-width: 290px;
}

 p
{
  margin-bottom: 1.3rem;
}

.about
{
  margin-top:0;
}

table
{
  width:94%;
  justify-content: center;
  font-size: min(1.2rem, 3vw);
}

@media (max-width:400px) {

  section{
    margin-left:0.7%;
    margin-right:0.7%;
  }

}

td
{
  width:5.8%;
}

th:last-child
{
  min-width: 20px;
}

td:hover
{
  transform: scale(1.1);
}

.popup
{
  position: absolute;
  display: inline-block;
  top:25px;
  left:-3px;
}

.popup > div
{
  position:absolute;
  height:70px;
  width:470px;
  background-color: white;
  border: 2px black solid;
  border-radius: 20px;
}

.popup > div > p
{
  color:black;
  margin:5px;
  margin-left: 10px;
  margin-bottom: -5px;
  font-size: 1rem;
  text-wrap: wrap;
}

.bottomInfo
{

  height:auto;
  width:100%;
  background-color: white;
  border: 2px black solid;
  border-radius: 20px;
}

.bottomInfo > p
{
  color:black;
  margin:5px;
  margin-left: 10px;
  font-size: 1rem;
  text-wrap: wrap;
  line-height: 20px;
}

a:link, a:visited
{
  color:#02dfef;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.graphHolder
{
  position: relative;
  width: 40%;
  min-width: calc(350px - 6%);
  height: 430px;
  margin: 0 auto;
}

.graphHolder.smallScreen {
  position: relative;
  width: 100%; /* Full width for small screens */
  margin: 0 auto; /* Ensure it remains centered */
}

.subsectionTitle
{
  flex-basis: 100%;
  margin-bottom: 50px;
  margin-top: 20px;
  color: #02dfef;
  text-align: center;
}

.horizontalLabel
{
  position: absolute;
  top:400px;
  left: calc(50% - 69px);
}

.graphHolder > h7
{
  position: absolute;
  left: calc(14.5% - 54px);
}

.verticalLabel
{
  position: absolute;
  transform: rotate(270deg);
  left: calc(14.5% - 150px);
  top: 165px;

}

.graph
{
  display:flex;
  width: 84%;
  height: 350px;
  margin-top:10px;
  margin-left: 14.5%;
  border-left: #efefef 5px solid;
  border-bottom: #efefef 5px solid;
  border-radius: 2px;
  position: relative;
}

.timer
{
  color: #02dfef;
  margin-left: auto;
}

.scatterTimer
{
  color: #02dfef;
  margin-right: auto;
  margin-left: 20px;
}

.bar
{
  position: relative;
  max-height: 170px;
  height: 0;
  background-color: #02dfef;
  width:6%;
  margin-left: 4%;
  border-radius: 8px 8px 0 0;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  position: absolute;
  bottom: 0;
}

@keyframes progress-animation
{
  0% {
    height: 0;
  }
  99%
  {
    background-color: #02dfef;
  }
  100% {
    height: 100%;
    background-color: #efefef;
  }

}



.multiGraphHolder
{
  width:100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;;
}

.arrowImage
{
  margin-top: 50px;
  margin-bottom: 50px;
  width:60px;
  margin-left: 60px;
  margin-right: 60px;
}

.arrowImage.smallScreen
{
  rotate: 90deg;
}

.point
{
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #02dfef;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 0.88s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  /* Needs to be refactored in ScatterPlot to run the appropritae number of times based upon entTime calculations */
  animation-iteration-count: 2;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}