*
{
  margin:0;
  padding:0;
}

body
{
  background: #161616;
  color:#f6f6f6;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
}



.Navbar
{
  width:100%;
  display:flex;
  list-style-type: none;
  position:absolute;
  padding:0;
  justify-content: space-around;
  background: #090909  ;
  height:70px;
  align-items: center;
  font-family: "Open Sans", serif;
  font-weight: 600;
  font-size:1rem;
  top:0;
  position: fixed;
}

.Navbar > li > a
{
  padding:10px 15px;
  margin:0 20px;
  color:#efefef;
  text-decoration: none;
  border-radius: 30px;
}

.Navbar > li > a:hover
{
  background: #161616  ;
  color:white;
}

section
{
  margin:0 32px;
  padding-top: 170px;
  margin-top: -70px;
}

section > h2
{
  font-size:2.4rem;
  text-align: center;
  margin-bottom: 70px;
  font-weight: 700;
  color:#02dfef;
}

.sectionElements
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:150px;
}

.sectionHeader
{
  display: flex;
  width:100%;
  align-items: center;
  flex-wrap: wrap;
  padding:0.05px;
}

.sectionHeader > h2
{
  text-wrap: nowrap;
  font:1.8rem;
  text-align:left;
  color:#02dfef;
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sectionHeader > .imagesContainer
{
  justify-content:right;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 0;
  padding: 0;
  flex-wrap: nowrap;
}

.sectionHeader > .imagesContainer > .imageLabelContainer
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.sectionHeader > .imagesContainer > .imageLabelContainer > img
{
  width: 40px;
  margin: 0;
  padding: 0;
}

.sectionHeader > .imagesContainer > .imageLabelContainer > img:hover
{
  transform: scale(1.1);
  position: relative;
  top: -5px;
}


.sectionHeader > .imagesContainer > .imageLabelContainer > h4
{
  color:#f6f6f6;
  display: none;
  position: absolute;
  top:35px;
}

.imagesContainer
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.imageLabelContainer
{
  margin:0 15px 20px;
}

.contactContainer
{
  margin:0 65px 20px;
}

.imageLabelContainer > img
{
  width:100px;
  margin:0 0 5px 0;
}

.contactContainer > img
{
  width:75px;
  margin:0 0 5px 0;
}

.imageLabelContainer:hover
{
  position: relative;
  top: -10px;
  color:#02dfef;
  font-weight: 700;
}

.imageLabelContainer:hover >img
{
  transform: scale(1.1);
}

.imageLabelContainer:hover >p
{
  font-weight: 700;
}

.contactContainer:hover
{
  color:#02dfef;
}

.transparent
{
  fill:#090909;
}

.imageLabelContainer > p, .contactContainer > p
{
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
}

.sectionElements > *
{
  margin: 0 3% 50px;
  line-height: 1.8rem;
}



.aboutText
{
  flex-grow: 1;
  flex-basis: 0;
  min-width: 280px;
}

.aboutText + p
{
  min-width: 290px;
}

 p
{
  margin-bottom: 1.3rem;
}

.about
{
  margin-top:0;
}

table
{
  width:94%;
  justify-content: center;
  font-size: min(1.2rem, 3vw);
}

@media (max-width:400px) {

  section{
    margin-left:0.7%;
    margin-right:0.7%;
  }

}


td
{
  width:5.8%;
}

th:last-child
{
  min-width: 20px;
}

td:hover
{
  transform: scale(1.1);
}

.popup
{
  position: absolute;
  display: inline-block;
  top:25px;
  left:-3px;
}

.popup > div
{
  position:absolute;
  height:70px;
  width:470px;
  background-color: white;
  border: 2px black solid;
}

.popup > div > p
{
  color:black;
  margin:5px;
  margin-bottom: -5px;
  font-size: 1rem;
  text-wrap: wrap;
}

.bottomInfo
{

  height:auto;
  width:100%;
  background-color: white;
  border: 2px black solid;
}

.bottomInfo > p
{
  color:black;
  margin:5px;
  font-size: 1rem;
  text-wrap: wrap;
  line-height: 20px;
}

a:link, a:visited
{
  color:#02dfef;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}
